<nav class="site-nav">
	<div class="wrapper">
		<div class="toggle">
			<img src="{{ site.baseurl }}/img/down.png" alt="Down arrow" class="down">
			<img src="{{ site.baseurl }}/img/up.png" alt="Up arrow" class="up">
		</div>
		<div class="links">
			{% for my_page in site.pages %}
		        {% if my_page.title %}
		            <a {% if page.url contains my_page.url) %} class="page-link active" {% else %} class="page-link" {% endif %} href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
		        {% endif %}
		    {% endfor %}
		</div>
	</div>
</nav>