.blog-heading {
	color: $brown;
	// font-family: $scriptFont;
}

.post-meta {
	font-family: $scriptFont;
}

a.post-link {
	color: $red;
	&:hover {
		color: $dark;
		text-decoration: none;
	}
}

.post-title {
	color: $red;	
}

.post-content a {
	color: $green;
}