.photo-gallery {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
  .cell {
    margin: 1rem;
    a {
      display: block;
      height: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media screen and (min-width: 600px) {
    .grid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    .cell {
      width: calc(50% - 2rem);
    }
  }
  @media screen and (min-width: 1000px) {
    .cell {
      width: calc(33.3333% - 2rem);
    }
  }
}

.availability {
  display: flex;
  justify-content: center;
}
