/** 
 * General styles
 */

* {
    box-sizing: border-box;
}

body {
    font-family: $mainFont;
    letter-spacing: .05em;
    background-color: $white;
    color: $dark;
}

h1 {
    font-family: $scriptFont;
    color: $green;
}
.sr-text { 
   clip: rect(1px, 1px, 1px, 1px); 
   height: 1px; 
   width: 1px; 
   overflow: hidden; 
   position: absolute !important;
}

/**
 * Site header
 */
.site-header {
    @include headerStyles;
    width: 100%;
}

.site-title {
    text-align: center;
    display: block;
    img {
        width: 200px;
        margin: 15px auto 0;
    }
}

.site-nav {
    line-height: 56px;
    width: 100%;
    border-bottom: 2px solid $red;
    z-index: 10;
    padding: 10px 0;
    @media (min-width: 700px) {
         padding: 20px 20px 0;
    }
    
    .wrapper {
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
    }
    .toggle {
        cursor: pointer;
        .up, 
        .down {
            width: 30px;
            margin: 0 auto;
        }
        .down {
            display: block;

        }
        .up {
            display: none;            
        }
        @media (min-width: 700px) {
            display: none;
        }    
    }
    .links {
        display: none;
        @media (min-width: 700px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    .page-link {
        display: block;
        text-align: center;
        color: $dark;
        line-height: $base-line-height;
        font-family: $scriptFont;
        font-size: 1.45em;
        margin: 10px;
        position: relative;
        top: 9px;
        z-index: 999;
        &:hover,
        &.active {
            color: $green;
            text-decoration: none;
        }
        @media (min-width: 700px) {
            margin: 0 5px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    background-color: $white;
    padding: $spacing-unit 0;
    color: $red;
    border-top: 2px solid $red;
    .footer-heading {
        font-size: 1.75em;
        font-family: $scriptFont;
        margin-bottom: $spacing-unit / 2;
    }

    ul {
        list-style: none;
        margin-left: 0;
    }

    .contact-list {
        color: $dark;
        line-height: 1.75em;
        font-size: .85em;
        a {
            color: $dark;
            &:hover {
                color: $green;
                text-decoration: none;
            }
        }
    }

    .social-media {
        height: 80px;
        float: right;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        .social-media-list {
            display: flex;
            flex-direction: row;
            li {
                padding-left: 10px;
            }
        }
    }

    .copyright {
        text-align: right;
        color: $brown;
        p {
            font-size: .7em;
        }
    }
}





.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit/2 5%;
    min-height: calc(100vh - 479px);
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
 .post {
    margin-top: 25px;
 }
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.coming-soon {
    text-align: center;
}

.thanks {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
